ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

article {
    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}

body {
    background-image: url("imagem_fundo.png");
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
}